.DS_Store
.vs/
/addons/
/docs/
/examples/
/libs/
/other/
/projectGenerator/
/scripts/
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/INSTALL_FROM_GITHUB.md
/INSTALL.md
/LICENSE.md
/README.md
/THANKS.md
/apps/MusicAppsPrivate/
/apps/VisualAppsPrivate/
/apps/myApps/
